<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Services2"
            android:exported="false" />
        <activity
            android:name=".Services"
            android:exported="false" />
        <activity
            android:name=".company_details"
            android:exported="false" />
        <activity
            android:name=".ServiceProviderDeleteUser"
            android:exported="false" />
        <activity
            android:name=".ServiceProviderUserModification"
            android:exported="false" />
        <activity
            android:name=".ServiceProviderHome"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Register_user"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewNotifications"
            android:exported="false" />
        <activity
            android:name=".SpViewNotifications"
            android:exported="false" />
        <activity
            android:name=".ViewServiceHistory"
            android:exported="false" />
        <activity
            android:name=".SpViewServiceHistory"
            android:exported="false" />
        <activity
            android:name=".ViewAppointments"
            android:exported="false" />
        <activity
            android:name=".SpViewAppointments"
            android:exported="false" />
        <activity
            android:name=".ScheduleAppointment"
            android:exported="false" />
        <activity
            android:name=".Sp_ScheduleAppointment"
            android:exported="false" />
        <activity
            android:name=".SelectServices"
            android:exported="false" />
        <activity
            android:name=".Sp_SelectServices"
            android:exported="false" />
        <activity
            android:name=".SearchServiceProvider"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".EditProfile2"
            android:exported="false" />
        <activity
            android:name=".edit_services"
            android:exported="false" />
        <activity
            android:name=".SpViewReports"
            android:exported="false" />
        <activity
            android:name=".Delete_user_profile"
            android:exported="false" />
        <activity
            android:name=".UserHome"
            android:exported="false" />
    </application>

</manifest>